<br>
<div class="text-center">
    <a href="{{ path_for('home') }}" class="btn mt-5 mb-3">Home</a>

    {% if auth.check %}
        <p class="mt-5 mb-3 text-muted text-center">Logged in as: <b>{{ auth.user.name }}</b></p>
        <a href="{{ path_for('auth.password.change') }}" class="btn mt-5 mb-3">Change password</a>
        <a href="{{ path_for('auth.logout') }}" class="btn mt-5 mb-3">Sign out</a>
    {% else %}
        <a href="{{ path_for('auth.register') }}" class="btn mt-5 mb-3">Sign up</a>
        <a href="{{ path_for('auth.login') }}" class="btn mt-5 mb-3">Sign in</a>
    {% endif %}
</div>